<details id="target-me" class="tree-summary is-expandable" *ngFor="let t of tree;let i = index" >
    <summary class="tree-summary-title">
        <h6>{{t?.name}} </h6>
        <button class="btn btn-info bi bi-info-square btn-sm" (click)="setInfo(t)"></button>
    </summary>
    <app-tree [tree]="t?.children" *ngIf="t?.children" (selectedNode)="setInfo($event)"></app-tree>
</details>

<!-- <ul>
    <li *ngFor="let t of tree;let i = index">
        <h6>{{t?.name}}</h6>
        <button class="btn btn-info bi bi-info-square" (click)="setInfo(t)"></button>
        <app-tree [tree]="t?.children" *ngIf="t?.children" (selectedNode)="setInfo($event)"  ></app-tree>
    </li>
</ul> -->
