<div class="row p-3">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6" *ngFor="let item of product">
        <div class="card border mb-4">
            <div class="card">
                <div style="height:150px; display: block;">
                    <div *ngIf="item?.image?.length !== 1 instanceof Array; else imgArr">
                        <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true"   >
                            <ng-template ngbSlide *ngFor="let img of item.image">
                                <img height="150" style="display: block;background: url('../assets/img/no-image.png') no-repeat center center" [src]="img"  />
                            </ng-template>
                        </ngb-carousel>
                    </div>
                    <ng-template #imgArr>
                        <img height="150" style="display: block;background: url('../assets/img/no-image.png') no-repeat center center" [src]="item.image"  />
                    </ng-template>
                </div>
                
                
                
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <!-- <span>{{item.rating}}* rating</span><br /> -->
                    <span>
                        <b class="me-2"><i class="bi bi-currency-rupee"></i>{{item.price  - 10}}</b>
                        <span class="me-3" style="text-decoration:line-through;  color:gray; font-size: 12px;">
                            <i class="bi bi-currency-rupee"></i> {{item.price}}
                        </span>
                        <span class="me-3">17<i class="bi bi-percent"></i> off</span><br />
                        <span class="me-3" style="color:gray">Size : L, XL, XXL</span><br />
                        <span class="me-3" style="color:gray">Color : 
                            <ul class="p-0" 
                                style="list-style: none; display: inline; margin:10px 0 0 10px" >
                                <li class="rounded-circle " 
                                [style]="{
                                    background: c,
                                    display: 'inline-block', width:'14px', height:'14px',border:'1px solid #333',
                                    margin:'0 0 0 -4px'
                                  }"
                                   *ngFor="let c of color"></li>
                            </ul>
                        </span><br />
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container-fluid pt-3" >
    <div class="container">
        <h1>Hi {{account?.firstName}}!</h1>
        <p>You're logged in with Angular 15 & JWT!!</p>
    </div> 
    Home Page
</div> -->